@import "../../style"

.blog
  padding: 32px
  padding-bottom: 68px
  display: grid
  grid-template-columns: 200px minmax(120px, 370px)
  border-radius: 26px
  background-image: url("../../img/blog-bg.webp")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  &__subtitle
    display: inline-block
    color: $basic-dark
    margin-bottom: 12px
  &__title
    color: $basic-extra-dark
  &__link
    text-decoration: none
    display: inline-block
    &:hover
      text-decoration: underline
      text-decoration-color: $basic-extra-dark
    &:focus-visible
      outline: none
      text-decoration: underline
      text-decoration-color: $basic-extra-dark
