@import "./../../style"

.button
  @include font-bold
  // display: flex
  // justify-content: center
  background-color: rgba($basic-extra-light, 0.3)
  border: none
  border-radius: 26px
  padding: 8px 20px
  gap: 10px
  cursor: pointer
  color: $basic-extra-dark
  transition: 0.3s
  &:hover
    background-color: $basic-extra-light
    border-color: rgba($basic-extra-light, 50%)
    color: $basic-extra-dark
  &:active
    border-color: $basic-extra-dark
  &:focus-visible
    border-color: $basic-extra-dark
    color: $basic-extra-dark
    outline: none
  &--white
    background-color: $basic-extra-light
    outline: 4px solid rgba(252, 252, 252, 0.5)
    &:hover:enabled
      background-color: rgba($basic-extra-light, 50%)
      outline: 4px solid rgba(252, 252, 252)
    &:disabled
      @include font-regular
      background-color: $basic-light
      color: $basic-neutral
      cursor: auto
  &--red
    background-color: $special-extra-bright
    color: $basic-extra-light
    box-shadow: 0px 0px 0px 4px rgba($special-extra-bright, 30%)
    &:hover
      box-shadow: 0px 0px 0px 4px $special-extra-bright
    &:focus-visible
      box-shadow: 0px 0px 0px 4px $special-extra-bright
      background-color: $basic-extra-light
      color: $basic-extra-dark
    &:active
      box-shadow: 0px 0px 0px 4px $basic-extra-dark
    @media (max-width: $mobile)
      grid-column: 1
  &--circle
    width: 32px
    height: 32px
    padding: 8px
