@import '../../style'
  
.catalog
  &__title.title
    margin-bottom: 140px
    text-transform: capitalize
  &-pagination
    @include list-reset
    display: flex
    gap: 16px
    align-items: center
    &__btn
      position: relative
      display: flex
      padding: 0
      border: none
      background-color: transparent
      color: $basic-extra-dark
      cursor: pointer
      &--active::after
        position: absolute
        top: 50%
        left: 50%
        display: block
        width: 24px
        height: 24px
        background-color: $basic-extra-light
        transform: translate(-50%, -50%)
        border-radius: 50%
        z-index: -1
        content: ""
      &:disabled
        color: rgba($basic-extra-dark, 50%)
        cursor: auto

  &__buttons-wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    margin-bottom: 20px
    @media (max-width: $mobile)
      grid-template-columns: 1fr
      gap: 20px
      justify-items: center
    & button
      grid-column: 2
      @media (max-width: $mobile)
        grid-column: 1
    & ul
      grid-column: 3
      justify-self: self-end
      @media (max-width: $mobile)
        grid-column: 1
        justify-self: center

  &__types-wrapper
    position: absolute
    top: 40px
    left: -10px
    display: flex
    border-radius: 4px
    padding: 0
    flex-direction: column
    background-color: $basic-extra-light
    z-index: $z-mobile-menu

  &__type
    padding: 8px 16px
    color: $basic-extra-dark
    text-decoration: none
    text-transform: capitalize
    &--active
      background-color: $special-bright
    &:hover
      background-color: $special-neutral
