@import '../../style'
  
.catalog
  &__title.title
    margin-bottom: 140px
    text-transform: capitalize
  &-pagination
    @include list-reset
    display: flex
    gap: 8px
    align-items: center
    &__btn
      position: relative
      display: flex
      padding: 5px
      border: none
      background-color: transparent
      color: $basic-extra-dark
      cursor: pointer
      &::after
        position: absolute
        top: 50%
        left: 50%
        display: block
        width: 24px
        height: 24px
        background-color: transparent
        transform: translate(-50%, -50%)
        border-radius: 50%
        transition: 0.3s
        z-index: -1
        content: ""
      &--active::after
        background-color: $basic-extra-light
      &:hover:enabled::after
        background-color: rgba($basic-extra-light, 40%)
      &:disabled
        color: rgba($basic-extra-dark, 50%)
        cursor: auto

  &__buttons-wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    margin-bottom: 20px
    @media (max-width: $mobile)
      grid-template-columns: 1fr
      gap: 20px
      justify-items: center
    & button
      grid-column: 2
      @media (max-width: $mobile)
        grid-column: 1
    & ul
      grid-column: 3
      justify-self: self-end
      @media (max-width: $mobile)
        grid-column: 1
        justify-self: center

  &__types-wrapper
    position: absolute
    top: 32px
    left: -10px
    display: flex
    border-radius: 4px
    padding: 0
    flex-direction: column
    background-color: $basic-extra-light
    z-index: $z-mobile-menu
    @media (max-width: $tablet)
      width: 75vw
      left: -30vw

  &__type
    padding: 8px 16px
    color: $basic-extra-dark
    text-decoration: none
    text-transform: capitalize
    &:first-child
      border-top-right-radius: 4px
      border-top-left-radius: 4px
    &:last-child
      border-bottom-left-radius: 4px
      border-bottom-left-radius: 4px
    @media (max-width: $tablet)
      text-align: center
    &--active
      background-color: $special-bright
    &:hover
      background-color: $special-neutral

  &__load-btn
    position: relative

  &__spinner
    position: absolute
    top: 50%
    left: 50%
    transform: translate(50px, -50%)
