@import "../../style"
  
.products
  &__title
    margin-bottom: 116px!important
  &__list
    @include list-reset
    display: grid
    grid-template-columns: repeat(auto-fit, 280px)
    justify-content: center
    gap: 120px 30px
  