$black: #000000
$basic-extra-dark: #2d3440
$basic-dark: #565c66
$basic-neutral: #b9b9b9
$basic-light: #e7e7e7
$basic-extra-light: #fcfcfc
$white: #ffffff

$special-extra-bright: #ff2f64
$special-bright: #ff4a78
$special-neutral: #ff7799
$special-light: #feafc3
$special-extra-light: #ffcbd8
$special-blue: #69a9ff
$special-yellow: #fcc850

$status-error: #ea5454
$status-warning: #fd912e
$status-success: #00e484

$btn-outline: 4px solid rgba(252, 252, 252, 0.5)

$desktop: 1250px
$tablet: 900px
$mobile: 600px

$z-before: -1
$z-pagination: 5
$z-mobile-menu: 10
$z-burger-btn: 15
$z-modal: 20
  
@mixin list-reset
  padding: 0
  margin: 0
  list-style-type: none

@mixin font-regular
  font-family: "Inter", "Arial", sans-serif
  font-weight: 400

@mixin font-bold
  font-family: "Inter", "Arial", sans-serif
  font-weight: 700

@mixin font-black
  font-family: "Inter", "Arial", sans-serif
  font-weight: 900

@mixin form-input
  padding: 14px 16px
  border: 1px solid $basic-neutral
  border-radius: 4px

@keyframes error-animation 
  0%
    transform: translateX(0)
  10%, 30%, 50%, 70%, 90%
    transform: translateX(-3px)
  20%, 40%, 60%, 80%
    transform: translateX(3px)
  100%
    transform: translateX(0)

*,
*::before,
*::after
  box-sizing: border-box
  
html
  @include font-regular
  height: 100%
  overflow-x: hidden
  margin: 0

body
  background-color: $special-light
  color: $basic-extra-dark
  transition: 0.3s
  overflow-x: hidden
  margin: 0
  &::-webkit-scrollbar
    display: none
  

.page-container
  min-height: 100vh
  display: flex
  flex-direction: column
  max-width: 1366px
  margin: auto
  padding-inline: 20px


.visually-hidden
  position: absolute

  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0

  basic-extra-light-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

.title
  margin: 0
  &--2
    font-size: 32px
    line-height: 46px
    @media (max-width: $mobile)
      font-size: 20px
  &--3
    font-size: 24px
    line-height: 30px
  &--4
    font-size: 20px
    line-height: 24px
  &--6
    font-size: 18px
    line-height: 22px
  &--section
    max-width: 850px
    margin-inline: auto
    margin-bottom: 56px
    text-align: center

.main
  flex-grow: 1
  max-width: 1170px
  @media (min-width: $tablet)
    margin: auto
