@import "../../../style"
  
.promo-item
  position: relative
  display: grid
  max-width: 570px
  grid-template-columns: 1.6fr 1fr
  padding: 40px
  background-color: $special-neutral
  border-radius: 16px
  gap: 16px
  z-index: 5
  &__title
    margin: 0
    font-size: 24px
  &__description
    margin: 0
    margin-bottom: 16px
    grid-column: 1
    font-size: 16px
    line-height: 22px
  &__btn
    @include font-bold
    grid-column: 1
    justify-self: start
    background-color: $basic-extra-light
    border: none
    border-radius: 26px
    padding: 8px 20px
    outline: $btn-outline
    cursor: pointer
    transition: 0.3s
    &:hover
      background-color: rgba($basic-extra-light, 50%)
      outline: 2px solid $basic-extra-light
    &:active
      outline: 2px solid $basic-extra-dark
    &:focus-visible
      color: $basic-extra-dark
      outline: 2px solid $basic-extra-dark
  &__image
    position: absolute
    right: 10px
    bottom: 0
  @media (max-width: $mobile)
    overflow: hidden
    &__image
      right: 50%
      transform: translateX(100%)
      z-index: $z-before
      opacity: 0.4
